 <div class="row  border-bottom white-bg dashboard-header">

                <div class="col-md-3">
                    <h2>欢迎您inspinia 2.9.2</h2>
                    <small>您有42条消息和6条通知。</small>
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="float-right">
                                09:00
                            </span>
                            <span class="label label-success">1</span> 研发新项目1
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                10:16
                            </span>
                            <span class="label label-info">2</span> 研发新项目2
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                08:22
                            </span>
                            <span class="label label-primary">3</span> 研发新项目3
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                11:06
                            </span>
                            <span class="label label-default">4</span> 研发新项目4
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                12:00
                            </span>
                            <span class="label label-primary">5</span> 研发新项目5
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="flot-chart dashboard-chart">
                        <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                    </div>
                    <div class="row text-left">
                        <div class="col">
                            <div class=" m-l-md">
                                <span class="h5 font-bold m-t block">$ 406,100</span>
                                <small class="text-muted m-b block">总销售收入</small>
                            </div>
                        </div>
                        <div class="col">
                            <span class="h5 font-bold m-t block">$ 150,401</span>
                            <small class="text-muted m-b block">年销售收入</small>
                        </div>
                        <div class="col">
                            <span class="h5 font-bold m-t block">$ 16,822</span>
                            <small class="text-muted m-b block">月销售收入</small>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="statistic-box">
                        <h4>
                            游戏项目测试进度
                        </h4>
                        <p>
                            你有两个项目没有完成任务。
                        </p>
                        <div class="row text-center">
                            <div class="col-lg-6">
                                <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
                                <h5>传奇世界</h5>
                            </div>
                            <div class="col-lg-6">
                                <canvas id="doughnutChart" width="80" height="80" style="margin: 18px auto 0"></canvas>
                                <h5>王者霸业</h5>
                            </div>
                        </div>
                        <div class="m-t">
                            <small>项目未完成描述信息。</small>
                        </div>

                    </div>
                </div>

            </div>